.List{
	height: 100%;
	min-width: 250px;
	@media only screen and (max-width: 45rem) {
		display: flex;
		gap: 2rem;
	}
}

.Item{
	&:not(:last-child){
		margin-bottom: 2rem;
	}
}

.Link{
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--p-color);
	transition: all 0.3s;

	&:hover{
		color: var(--t-color);
	}
}

.Selected{
	font-weight: 700;
	color: var(--t-color)
}