.Order{
	padding-bottom: 243px;

  @media (max-width: 580px) {
    padding-bottom: 80px;
  }
}

.Title{
	margin: 0;
	margin-bottom: 80px;
	color: var(--p-color);
	font-size: 42px;
	font-weight: 700;

	@media (max-width: 580px) {
		font-size: 24px;
		margin-bottom: 32px;
	}
}

.BonusBlock{
	margin-top: 1.5rem;
}

.BonusText{
	font-size: 1.6rem;
	color: var(--p-color)
}

.BonusValue{
	font-weight: 600;
}

.BonusMinusLabel{
	display: block;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	font-weight: 400;
	color: var(--p-color);
}
.BonusMinus{
}