.ContainerClassName{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
  @media (max-width: 800px) {
     min-width: max-content;
   }
}

.PageClassName{
	border-radius: 32px;
	overflow: hidden;

	&:not(:last-child) {
		margin-right: 12px;
	}
}
.PageLinkClassName{
  text-decoration: none;
   display: block;
   display: flex;
   width: 58px;
   height: 48px;
   align-items: center;
   padding: 12px 24px;
  justify-content: center;
   cursor: pointer;
   color: #222;
   transition: background-color .2s ease-in-out;

  &:hover {
    background-color: #222;
    color: #fff;
    transition: background-color .2s ease-in-out;
   }
}